#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.done {
  color: lightgrey;
  text-decoration: line-through;
  /* display: none; */
}

th:first-of-type,
td:first-of-type {
  width: 280px;
}

